{% extends "lottery/Page.html" %}
{% load otree static %}

{% block title %}
  Question {{ player.round_number }} of {{ Constants.rows_per_condition }}
{% endblock %}

{% block content %}

  {% block scripts %}
    <script>
      function acceptChoice() {
        if (!document.getElementById('id_choice_0').checked && !document.getElementById('id_choice_1').checked) {
          alert('Make choice')
          return
        }
        next.disabled = false
        accept.disabled = true
        check.disabled = true

        $(':radio,:checkbox').click(function(){
          return false
        })
      }

      function onCheck(event) {
        const probTable = document.getElementById('prob-table')
        probTable.classList.remove('hidden-table')
        probTable.classList.add('displayed-table')

        event.target.disabled = true
        
      }
    </script>
  {% endblock %}

    <table id="prob-table" class="prob-table hidden-table">
      <thead>
        <tr>
          <th>A</th>
          <th>B</th>
        </tr>
      </thead>
      <tbody>
          {% for value in '12345'|make_list %}
            <tr>
              <td>
                {% cycle player.realA1 player.realA2 player.realA3 player.realA4 player.realA5 as realA silent %}
                {% cycle player.probA1 player.probA2 player.probA3 player.probA4 player.probA5 as probA silent %}
                {{ realA }} with prob {{ probA }}
              </td>
              <td>
                {% cycle player.realB1 player.realB2 player.realB3 player.realB4 player.realB5 as realB silent %}
                {% cycle player.probB1 player.probB2 player.probB3 player.probB4 player.probB5 as probB silent %}
                {{ realB }} with prob {{ probB }}
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    
    <div class="controls  field-choice">
      <div class="form-check form-check-inline">
        <input type="radio" name="choice" value="A" required="" id="id_choice_0" class="form-check-input">
        <label for="id_choice_0" class="form-check-label">A</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="choice" value="B" required="" id="id_choice_1" class="form-check-input">
        <label for="id_choice_1" class="form-check-label">B</label>
      </div>
    </div>

    <button id="accept" type="button" class="primary-btn btn-accept" onclick="acceptChoice()">
      Accept
    </button>
    <button id="check" type="button" class="primary-btn btn-check" onclick="onCheck(event)">
      Check
    </button>

    <button id="next" class="otree-btn-next btn btn-primary" disabled>Next</button>

{% endblock %}
