{% extends "lottery/Page.html" %}
{% load otree static %}

{% block content %}

  <p>Thanks for taking part in this experiment.</p>
  <p>The randomly selected trial for your payment was {{ paying_round }}</p>
  <p>In this trial you choose “{{ choice }}”</p>
  <p>The trial realization was: {{ real }}.</p>
  <p>The conversion rate is 100 points = 1$.</p>
  {% if checked %}
    <p>The check cost was: {{ Constants.check_cost }}</p>
    <p>The trial payoff was: {{ player.payoff }}</p>
  {% else %}
    <p>The trial payoff was: {{ player.payoff }}</p>
  {% endif %}
  {% next_button %}

{% endblock %}

