{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
  <style type="text/css">
    .primary-btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      border: 1px solid #007bff;
      color: #007bff;
      background-color: #fff;
    }

    .primary-btn:hover:not(:disabled) {
      color: #fff;
      background-color: #007bff;
      cursor: pointer;
    }
    .primary-btn:disabled {
      color: #cbd6e1;
      border-color: #cbd6e1;
    }

    .prob-table {
      margin-bottom: 10px;
    }

    .displayed-table tbody {
      opacity: 1;
    }

    .hidden-table tbody {
      opacity: 0;
    }
    
    .trial-block {
      margin-bottom: 32px;
    }

    table {
      border-collapse: collapse;
    }
    td, th {
      padding: 3px;
      border: 1px solid black;
    }

    th {
      text-align: center;
    }

    .radio-controls {
      margin-bottom: 8px;
    }

    .hidden-seq-data {
      display: none;
    }

    .realization-input[readonly] {
      display: inline;
      padding-left: 0;
      border: none;
      margin-bottom: 8px;
      background: transparent;
      box-shadow: none;
      cursor: default;
    }

    .hidden-realization[readonly] {
      opacity: 0;
    }

  </style>
{% endblock %}

{% block app_scripts %}
{% endblock %}